{
	"parser": "babel-eslint",
	"env": {
		"es6": true,
		"browser": true,
		"node": true,
		"jest/globals": true
	}, 
	"rules": {
		"semi": "off",
		"object-curly-spacing": "off",
		"arrow-parens": "off",
		"comma-dangle": "off",
		"require-jsdoc": "off",
		"no-tabs": "off",
		"indent": ["error", "tab", { "SwitchCase": 1  }],
		"operator-linebreak": "off",
		"no-debugger": 1,
		"no-extra-semi": "off"
	},
	"plugins": ["jest"],
	"extends": ["eslint:recommended", "google"]
}
